<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  <!--Loop over the `payload` varialble, which is the list of parties-->
  {{range .payload }}
    <!--Create the link for the party based on its ID-->
    <a href="/party/view/{{.ID}}">
      <!--Display the title of the party-->
      <h2>{{.Title}}</h2>
    </a>
    <!--Display the content of the party -->
    <p>{{.Content}}</p>
  {{end}}

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
